.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  opacity: .80;
}

#settings-menu {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 80%;
  height: 80%;
  padding:2em;
  background-color:#e6e6e6;
  z-index: 1100;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display:none;
}

.res_url {
  color:gray;
  font-size:80%;
}

.settings {
  padding-left:1em;
  padding-top:5px;
}

.link-span {
  text-decoration: underline;
} 

#saved-shortcut-template {
  display:none;
}

#saved-shortcuts {
  width: 100%;
}


.blue-button, .red-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.red-button {
  background: rgb(202, 60, 60);
}

#add-link-holder {
  margin-bottom:1em;
}

#add-link-holder input {
  width:70%;
}
